Makefile
Makefile.in
.deps
.libs
*~
*.o
*.lo
*.obj
*.opt
*.out
*.pdb
*.dll
*.exp
*.lib
*.exe
*.res
*.diff
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
core-translation-report
depcomp
dia.desktop
dia.desktop.in
dia.keys
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
doc/*/graphics/*.eps
doc/*/.epsfigures
doc/*/dia_html
/build/win32/Thumbs.db
