Makefile
Makefile.in
*~
*.opt
*.exp
config.h
config.h.in
core-translation-report
dia.desktop
dia.desktop.in
dia.keys
install-sh
mkinstalldirs
doc/*/graphics/*.eps
doc/*/.epsfigures
doc/*/dia_html
build
.vscode
