include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

variables:
    BUNDLE: "dia-dev.flatpak"
    GIT_SUBMODULE_STRATEGY: recursive

flatpak:
    image: 'registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master'
    variables:
        MANIFEST_PATH: "build-aux/flatpak/org.gnome.Dia.json"
        FLATPAK_MODULE: "dia"
        MESON_ARGS: "-Dtests=false"
        RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"
        APP_ID: "org.gnome.Dia"
    extends: .flatpak

review:
    stage: deploy
    dependencies:
        - 'flatpak'
    extends: '.review'

stop_review:
    stage: deploy
    extends: '.stop_review'

.mingw-defaults: &mingw-defaults
    stage: build
    tags:
        - win32
    script:
        - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
        - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/msys2.sh"
    cache:
        key: "%CI_JOB_NAME%"
        <<: *cache-paths

msys2-mingw32:
    variables:
        MSYSTEM: "MINGW32"
        CHERE_INVOKING: "yes"
    <<: *mingw-defaults
