[Desktop Entry]
Name=Dia
Name[pt_BR]=Dia
Name[da]=Dia
Name[de]=Dia
Name[ga]=Dia
Name[hu]=Dia
Name[ja]=Dia
Name[no]=Dia
Name[lt]=Dia
Name[pl]=Dia
Name[fr]=Dia
Name[sv]=Dia
Name[tr]=Dia
Comment=A Diagram Editor
Comment[da]=Et diagramredigeringsprogram
Comment[de]=Ein Diagrammeditor
Comment[fr]=Un éditeur de diagrammes
Comment[ga]=Eagarthoír Léaráid
Comment[hu]=Ábraszerkesztõ program
Comment[ja]=¥À¥¤¥¢¥°¥é¥à¥¨¥Ç¥£¥¿
Comment[lt]=Diagramø kûrimo programa
Comment[no]=Diagramredigering
Comment[pl]=Edytor diagramów w Gtk+ 
Comment[pt]=Editor de diagramas
Comment[sv]=Diagrameditor
Comment[tr]=Çizge editörü
Exec=dia
Icon=dia_gnome_icon.png
Terminal=0
Type=Application
